*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}
.hero{
   position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
justify-content: center;
  background-color: #25142d;
  
}
img{
    position: absolute;
  
    top: 18px;
    left: 46%;
    width: 100px;
    height: 100px;
}
form {
    background-color: #fff;
    width: 500px;
    padding: 30px;
    font-size: 18px;
    border-radius: 10px;
}
.massage_icon{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.massage_icon i {
    font-size: 40px;
}
.massage_icon span {
    font-size: 22px;
    font-weight: bold;
    margin-left: 15px;
}
form input, textarea{
    width: 100%;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid black;
outline: none ;
}
#input-feiled{
    padding-bottom: 20px;
    display: flex;
    align-items: center;
}
#input-feiled i{
    font-size: 22px;
    margin-right: 15px;
}
.send-btn{
    width: 100%;
    border: none;
    background-color: black;
    color: white;
    font-size: 16px;
    padding: 6px 0;
    border-radius: 50px ;
}
