body{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color:#590988;

}
.bigcont{
display: flex;
padding: 50px;
align-items: center;

}
.big{
    padding-left: 50px;
}
.container img {
    border: solid white;
    padding: 15px 5px 15px 5px;
    height: 500px;
    width: 500px;
}
.img {
  height: 70px;
    border-radius: 50px;
}
.investors{
    display: flex;
    justify-content: space-between;
    margin: 30px;
    align-items: center;
}
.investors div{
padding-right: 50px;
}
.contact_info{
    display: flex;
    padding-right:5px ;
    align-items: center;
}
.contact_info img{
border-radius: 50%;
height: 90px;
width: 90px;
padding-right: 3px;
}
.contact_info pre{
font-size: 16px;
color: white;

}
.apartment{
    width: 95%;
    border:solid white 2px;
    font-size: 17px;
    color: white;
}
.investors span{
    color: white;
    font-size: 15px;
    padding-left: 10px;

}

button{
    background-color: rgb(205, 74, 209);
    border-radius: 5px;
    border: white;
    margin-top: 10px;
 
    width: 80px;
    height: 25px;
}
.price{
    color: rgb(179, 137, 129);
    font-size: 14px;
}
.add{
    display: inline;
    align-items: center;
    color:white;
    border: solid white 2px;
    padding: 10px;
    margin-top: 5px;
   
}
.add span{
    padding-left: 5px;
    font-size: 17px;
    
}
.add i{
    font-size: 25px;
}
