
*{
    margin: 0px;
    padding: 0;
    font-family: 'poppins', sans-serif;
   }
   body {
    background-image: url("myiamge.jpg");
    background-size: 98%; 
    background-position: 400px -120px;
    backface-visibility: visible;
    background-repeat:no-repeat;
    line-height: 20px;
      background-color: #13072e; 
       min-height: 100vh;
       justify-content: start;
       margin-left: 70px;
       margin-top: 190px;
      
   }
   img{width: 220px;
    margin-left: 138px;
}
button{
    position: fixed;
    position: relative;
    margin-left: 15px;
    margin-top: -40px;
    text-align: center;
    color: white;
    border-radius: 50px;
    font-size: 25px;
     padding: 10px 150px;
     background-color: purple;
}
    #header{
    font-size: 25px;
    margin-bottom: 35px;
    margin-top: -100px;
    position: relative;
    display: block;
    color:white;
   } 
   #header1{
    margin-top: 7px;
    font-size: 17px;
    margin-left: 15px;
   }
   #par{
    padding-left: 30px;
    color: white;
    padding: 20px 20px;
    word-spacing: 1.5px;
    text-indent: 8px;
   }
    .conatiner1{
       width: 680px;
       margin-bottom: 20px;
   }
   .entryarea{
       position: relative;
       height: 80px;
       line-height: 130px;
   }
   input{
       position: absolute;
       width: 50%;
       outline: none;
       font-size: 2.2em;
       padding: 0 30px;
       line-height: 80px;
       border-radius: 10px;
       height: 40px;
       border: 2px solid #f0ffff;
       background: transparent;
       transition: 0.1s ease;
       
   }
   .labelline{
       position: absolute;
       font-size: 1.1em;
       color: #f0ffff;
       padding: 0px;
       height: 0px;
       margin: -40px 10px;
       background-color: #13072e;
       transition: 0.2s ease;
   
   }
   input:focus
   {
       color: white;
       border: 4px solid white;
   
   }
   input:focus + .labelline
   {
       background-color:#13072e;
       height: 30px;
       line-height: 30px;
        padding: 0 12px;
        transform: translate(20px , 25px) scale(0.88);
        z-index: 1111;

   }
     
     input[type="file"]:before {
       content: "upload your id ";
       background:#13072e;
       width: 50%;
       height: 35px;
       display: block;
       text-align: left;
       position: relative;
       margin: 12px -12px;
       left: -10px;
       top: -3px;
       line-height: 12px;
       color: #ffffff;
       cursor: pointer;
       padding-left: 5px;
     }
   
   
    