
*{
 margin: 0;
 padding: 0;
 font-family: 'poppins', sans-serif;
 box-sizing: border-box;
}
body {
    background-color: #25142d;
    min-height: 100vh;
    display: flex;
    justify-content: start;
    margin-left: 79px;
    margin-top: 159px;
   
}
 .conatiner1{
    width: 680px;
}
.entryarea{
    position: relative;
    height: 80px;
    line-height: 80px;
}
input{
    position: absolute;
    width: 100%;
    outline: none;
    font-size: 25px;
    padding: 0 30px;
    line-height: 30px;
    border-radius: 10px;
    height: 15px;
    border: 2px solid #f0ffff;
    background: transparent;
    transition: 0.1s ease;
  margin-bottom: 5px;
    
}
.labelline{
    position: absolute;
    font-size: 1.1em;
    color: #f0ffff;
    padding: 0px;
    height: 0px;
    margin: -22px 16px;
    background-color: #25142d;
    transition: 0.2s ease;

}
input:focus,
input:valid{
    color: white;
    border: 4px solid white;

}
input:focus + .labelline,
input:valid + .labelline{
    background-color: #25142d;
    height: 30px;
     line-height: 30px;
     padding: 0 12px;
     transform: translate(0px , 0px) scale(1);
     z-index: 1111;
    
}

  
  input[type="file"]:before {
    content: "Browse your photo ";
    background: #25142d;
    width: 100%;
    height: 35px;
    display: block;
    text-align: left;
    position: relative;
    margin: 0;
    margin: 0 5px;
    left: -6px;
    top: -1px;
    line-height: 35px;
    color: #ffffff;
    padding-left: 5px;
    display: block;
  }


 